<ion-pane class="languages">
  <ion-content>
    <div style="padding-top:70px;" class="row">
      <div class="col col-offset-20 col-20">
        <a href="#/kannada"><img class="lang-icon" alt="Kannada" ng-src="/android_asset/www/img/kannada.png"></a>
      </div>
      <div class="col col-20">
        <a href=""><img class="lang-icon" alt="Telugu" ng-src="/android_asset/www/img/telugu.png"></a>
      </div>
      <div class="col col-20">
        <a href=""><img class="lang-icon" alt="Hindi" ng-src="/android_asset/www/img/hindi.png"></a>
      <div>
    </div>
  </ion-content>
</ion-pane>